node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# docs
/docs/archive

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
aio-scanner-vertex-key.json

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
